
@{
    ViewBag.Title = "JobListInCompany";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section cssInsert{
    <link href="~/Assets/Client/Css/User/JobListInCompany.css" rel="stylesheet" />
}

<div class="page-wrapper">
    <div class="career-subheader">
        <span class="banner"></span>
    </div>
    <div class="main-content">
        <div class="main-section">
            <div class="container">
                <div class="row">

                    <div class="company-info">
                        <span class="img-thumbnail">
                            <img src=https://talentbold.com/Upload/employer/logo/img000000005373.JPG>
                        </span>
                        <div style="margin-left: 230px; padding-top: 5px;">
                            <div class="company-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <h2 id="company-name">SM COEX</h2>
                            <ul class="company-info-option">
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    <span>Seoul, South Korea</span>
                                </li>
                                <li>
                                    <i class="fa fa-globe"></i>
                                    <a></a>
                                </li>
                            </ul>
                            <a href="#" class="add-review">
                                <i class="fa fa-plus"></i>
                                <span>Thêm nhận xét</span>
                            </a>
                        </div>
                    </div>

                    <div class="company-detail-wrap">
                        <div class="company-detail-content">
                            <h2>Tổng quan về SM COEX</h2>
                            <div class="company-overview">
                                <ul class="row">
                                    <li class="overview-item">
                                        <i class="fa fa-users"></i>
                                        <div class="item-text">Quy mô:<small>> 50-100</small></div>
                                    </li>
                                    <li class="overview-item">
                                        <i class="fa fa-calendar-alt"></i>
                                        <div class="item-text">Thời gian thành lập<small>2000</small></div>
                                    </li>
                                    <li class="overview-item">
                                        <i class="fa fa-briefcase"></i>
                                        <div class="item-text">Công việc đã đăng<small>10</small></div>
                                    </li>
                                    <li class="overview-item">
                                        <i class="fa fa-object-ungroup"></i>
                                        <div class="item-text">Lĩnh vực kinh doanh<small>siêu thị làm tiền</small></div>
                                    </li>
                                </ul>
                            </div>
                            <h3>Mô tả công ty</h3>
                            <p>SMTOWN COEX ARTIUM chính thức mở cửa vào ngày 13/1/2015, là tòa nhà 6 tầng nằm trong không gian văn hóa phức hợp được SM Entertainment đầu tư phát triển ở giữa trung tâm Seoul, nằm trong tổ hợp COEX và được ví như là thành phố thu nhỏ của SM Town hay “thiên đường của SMstan (fan nhà SM)”. Nơi đây mỗi tầng đều có những chủ đề đa dạng khiến người hâm mộ khi đến đây hầu như đều không muốn trở về.</p>
                        </div>
                        <div class="joblist-title">
                            <h2>Việc làm của SM COEX</h2>
                        </div>
                        <div class="company-joblist">
                            <ul class="row">
                                <li class="job">
                                    <div class="job-wrap">
                                        <span class="company-img">
                                            <img src=https://talentbold.com/Upload/employer/logo/img000000005373.JPG>
                                        </span>
                                        <div class="job-info">
                                            <h3 style="margin: 10px">
                                                <a href="">Lao công nguyện đi làm không công chỉ để ngắm ùpar</a>
                                            </h3>
                                            <ul id="job-info-option">
                                                <li>
                                                    <i class="fa fa-map-marker"></i>
                                                    <span>Seoul, South Korea</span>
                                                </li>
                                                <li>
                                                    <i class="fa fa-filter"></i>
                                                    <span>Lao công/Dọn dẹp vệ sinh</span>
                                                </li>
                                                <li>
                                                    <i class="fa fa-dollar-sign"></i>
                                                    <span>Lương lậu không thành vấn đề</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>



                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://kit.fontawesome.com/cf01f2dc2a.js" crossorigin="anonymous"></script>

