
@{
    ViewBag.Title = "MoreNewsFromHandbook";
    Layout = "~/Views/Shared/LayoutForUser.cshtml";
}
@section cssInsert{
    <link href="~/Assets/Client/Css/User/MoreNewsFromHandbook.css" rel="stylesheet" />
}

<div id="headerMenu">
    <div class="titleNews" style="width: 260px;">
        <i class="far fa-arrow-alt-circle-right"></i>
        LỜI KHUYÊN NGHỀ NGHIỆP
        <div class="dropdown">
            <a href="">KỸ NĂNG(...)</a><br>
            <a href="">NGHỀ NGHIỆP(...)</a><br>
            <a href="">HỒ SƠ NGHỀ NGHIỆP(...)</a><br>
            <a href="">PHỎNG VẤN(...)</a>
        </div>
    </div>

    <div class="titleNews" style="width: 200px; left: 290px; top: 0px;">
        <i class="far fa-arrow-alt-circle-right"></i>
        THẾ GIỚI QUẢN TRỊ
        <div class="dropdown">
            <a href="">CẨM NANG NGHỀ NGHIỆP(...)</a><br>
            <a href="">CHIA SẺ THÀNH CÔNG(...)</a>
        </div>
    </div>
    <div class="titleNews" style="width: 200px; left: 510px; top: 0px;">
        <i class="far fa-arrow-alt-circle-right"></i>
        KẾT NỐI TÀI NĂNG
        <div class="dropdown">
            <a href="">GIẢI PHÁP(...)</a><br>
            <a href="">MẠNG XÃ HỘI(...)</a>
        </div>
    </div>

    <div class="titleNews" style="width: 200px; left: 740px; padding-right: 30px;top: 0px;">
        <i class="far fa-arrow-alt-circle-right"></i>
        XU HƯỚNG NHÂN TÀI
        <div class="dropdown">
            <a href="">TRONG NƯỚC(...)</a><br>
            <a href="">QUỐC TẾ(...)</a>
        </div>
    </div>
</div>

<div id="path">
    <a href="" style="color: #f07e1d;"><i class="fa fa-home"></i> Việc làm </a>
    <div> / Cẩm nang nghề nghiệp</div>
</div>
<!-- Tin mới nhất -->
<div class="content" id="news">
    <vr></vr>
    <div style="margin-left: 20px; width: fit-content; font-size: 20px; margin-top: 17px;">
        <b>
            LỜI KHUYÊN NGHỀ NGHIỆP
        </b>
    </div>
    <div class="horizontalNews">
        <div class="imageNews">
            <img src="~/Assets/Client/Img/User/ImageSearchJob/blue-search-icon.png" />
            <div class="typeNews">Lời khuyên nghề nghiệp</div>
        </div>
        <div class="mainContent">
            <div class="headerNews">
                <div class="textOverflowLine"><b>Không có gì là không gì là không thể :>>>>>>></b></div>
            </div>
            <div class="submitDate">
                <i class="far fa-calendar-alt"></i>
                21/04/2020
            </div>
            <div class="view">
                <i class="fa fa-eye"></i>
                1174 xem
            </div>
            <div class="textNews">
                <div class="textOverflowLine" style="width: fit-content;">
                    d f jkhd j fhjfh jdfhd jfdf bhbh bcvj djvv
                    bdvdn vsjv ndsjvnd smvbd vjđmff
                    vdvdvd vdvfd vdfv dfdf dfdfds d sf sfs sdsd adas ssd ds dsd sd s ss sds d sa s s ds s s f fs dcf
                    sdc sc sc sd c sd c d v d v df v dsc s c s c s c d c dc
                </div>
            </div>
        </div>
    </div>

    <div class="horizontalNews">
        <div class="imageNews">
            <img src="~/Assets/Client/Img/User/ImageSearchJob/blue-search-icon.png" />
            <div class="typeNews">Lời khuyên nghề nghiệp</div>
        </div>
        <div class="mainContent">
            <div class="headerNews">
                <div class="textOverflowLine"><b>Không có gì là không gì là không thể :>>>>>>></b></div>
            </div>
            <div class="submitDate">
                <i class="far fa-calendar-alt"></i>
                21/04/2020
            </div>
            <div class="view">
                <i class="fa fa-eye"></i>
                1174 xem
            </div>
            <div class="textNews">
                <div class="textOverflowLine" style="width: fit-content;">
                    d f jkhd j fhjfh jdfhd jfdf bhbh bcvj djvv
                    bdvdn vsjv ndsjvnd smvbd vjđmff
                    vdvdvd vdvfd vdfv dfdf dfdfds d sf sfs sdsd adas ssd ds dsd sd s ss sds d sa s s ds s s f fs dcf
                    sdc sc sc sd c sd c d v d v df v dsc s c s c s c d c dc
                </div>
            </div>
        </div>
    </div>
</div>
<div id="hotNews">
    <div class="content">
        <vr></vr>
        <div style="margin-left: 20px; width: fit-content; font-size: 15px; margin-top: 17px;"><b>BÀI VIẾT XEM NHIỀU</b></div>
        <div class="horizontalNews">
            <div class="imageNews">
                <img src="~/Assets/Client/Img/User/ImageSearchJob/blue-search-icon.png" />
            </div>
            <div class="mainContent">
                <div class="headerNews">
                    <div class="textOverflowLine"><b>Không có gì là không gì là không thể :>>>>>>></b></div>
                </div>
                <div class="textNews">
                    <div class="textOverflowLine" style="width: fit-content;">
                        d f jkhd j fhjfh jdfhd jfdf bhbh bcvj djvv
                        bdvdn vsjv ndsjvnd smvbd vjđmff
                        vdvdvd vdvfd vdfv dfdf dfdfds d sf sfs sdsd adas ssd ds dsd sd s ss sds d sa s s ds s s f fs dcf
                        sdc sc sc sd c sd c d v d v df v dsc s c s c s c d c dc
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section jsInsert{
    <script src="~/Assets/Client/Js/User/MoreNewsFromHandbook.js"></script>
}

