
@{
    @section cssInsert{
        <link href="~/Assets/Client/Css/University/ListOfStudent.css" rel="stylesheet" />
    }
}

<body>
    <div class="page-wrapper">
        <div class="uni-subheader">
            <span class="banner"></span>
        </div>
        <div class="main-content">
            <div class="container">
                <div class="row">
                    <div class="uni-info">
                        <div class="img-thumbnail">
                            <span class="img-thumbnail">
                                <img scr="">
                            </span>
                        </div>
                        <div style="margin-left: 230px;padding-top: 5px">
                            <h2 id="uni-name"> UET UNIVERSITY</h2>
                            <div class="uni-info-option">
                                <i class="fa fa-map-marker"></i> Địa chỉ: DHQGHN, 136 Xuan Thuy, Cau Giay, Ha Noi
                            </div>
                            <div id="Website">
                                <i class="fa fa-globe"></i>
                                <a href="https://uet.vnu.edu.vn/" target="_blank">Website: https://uet.vnu.edu.vn/</a>
                            </div>
                            <div id="email"><i class="fas fa-envelope"></i> Email: </div>
                            <div id="hotline"><i class="fas fa-phone-square-alt"></i> Hotline: </div>
                        </div>
                    </div>
                </div>
                <div style="width: 100%;">
                    <h2>Danh sách sinh viên của trường</h2>
                </div>
                <div style="width: 100%;"><b id="student-num">1</b> học sinh</div>
                <div class="uni-student-list">
                    <table>
                        <tr>
                            <th>STT</th>
                            <th>Họ và tên</th>
                            <th>Ngày sinh</th>
                            <th>GPA</th>
                            <th>Số điện thoại</th>
                            <th>Email</th>
                            <th>Nơi sinh</th>
                        </tr>
                        <tr>
                            <td style="text-align: center">1</td>
                            <td style="text-align: left">Nguyễn Bị Xinh</td>
                            <td style="text-align: right">32/12/2000</td>
                            <td style="text-align: center">4.00</td>
                            <td style="text-align: left">002742647634</td>
                            <td style="text-align: right">jfj@gmail.com</td>
                            <td style="text-align: right">Thái Bình</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

