
@{
    ViewBag.Title = "UniversityHome";
    Layout = "~/Areas/Admin/Views/Shared/LayoutForUser.cshtml";
}

<body>
    <div class="page-wrapper">
        <div class="uni-subheader">
            <span class="banner"></span>
        </div>
        <div class="main-content">
            <div class="container">
                <div class="row">
                    <div class="uni-info">
                        <span class="img-thumbnail">
                            <img src="avatar.jpg">
                        </span>
                        <div style="margin-left: 230px;padding-top: 5px">
                            <h2 id="uni-name"> UET UNIVERSITY</h2>
                            <div class="uni-info-option">
                                <i class="fa fa-map-marker"></i>
                                <span>DHQGHN, 136 Xuan Thuy, Cau Giay, Ha Noi</span><br /><br />
                                <i class="fa fa-globe"></i>
                                <a href="https://uet.vnu.edu.vn/" target="_blank">https://uet.vnu.edu.vn/</a></ br></ br>
                                <a href="chart.html" class="uni-overview">
                                    <i class="fa fa-chart-bar"></i>
                                    <span>  Báo cáo thống kê</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div style="width: 100%;">
                        <h2>Danh sách sinh viên của trường</h2>
                    </div>
                    <div style="width: 100%;"><b id="student-num">1</b> học sinh</div>
                    <div class="uni-student-list">
                        <ul class="row">
                            <li class="student">
                                <div class="student-wrap">
                                    <span class="student-img">
                                        <img src="avatar.jpg">
                                    </span>
                                    <div class="student-info">
                                        <h3 style="margin: 10px;">
                                            <a href="">Nguyen Van A</a>
                                        </h3>
                                        <ul class="student-info-option">
                                            <li class="skill-item">
                                                <i class="fa fa-heart"></i>
                                                <span>Ky nang cua sinh vien</span>
                                            </li>
                                            <li class="skill-item">
                                                <i class="fa fa-heart"></i>
                                                <span>Ky nang cua sinh vien</span>
                                            </li>
                                            <li class="skill-item">
                                                <i class="fa fa-heart"></i>
                                                <span>Ky nang cua sinh vien</span>
                                            </li>
                                        </ul>

                                    </div>
                                </div>

                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

