
@{
    @section cssInsert{

        <link href="~/Assets/Client/Css/University/UniversityHome.css" rel="stylesheet" />
    }

}

<body>
    <div class="page-wrapper">
        <div class="uni-subheader">
            <span class="banner"></span>
        </div>
        <div class="main-content">
            <div class="container">
                    <div class="uni-info">
                        <span class="img-thumbnail">
                            <img src="~/Assets/Client/Img/University/logo.png" />
                        </span>
                        <div style="margin-left: 230px;padding-top: 5px">
                            <h2 id="uni-name"> UET UNIVERSITY</h2>
                            <div class="uni-info-option">
                                <i class="fa fa-map-marker"></i> Địa chỉ: DHQGHN, 136 Xuan Thuy, Cau Giay, Ha Noi</div>
                                <div id="Website"></div><i class="fa fa-globe"></i>
                                <a href="https://uet.vnu.edu.vn/" target="_blank">Website: https://uet.vnu.edu.vn/</a></div>
                                <div id="email"><i class="fas fa-envelope"></i> Email: </div>
                                <div id="hotline"><i class="fas fa-phone-square-alt"></i> Hotline: </div>
                                <div id="descrip">Đây là trường về Công nghệ</div>
                                <a href="Statistic?" class="uni-overview">
                                    <i class="fa fa-chart-bar"></i>
                                    <span>  Báo cáo thống kê</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</body>

